/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.navigation {
	background-color: lightskyblue; 
	position: fixed;
	top: 0; 
	z-index: 0;
}

.navigation a {
	position: relative; 
	top: -30px;
}

.logo {
	margin-top: 15px;
	margin-bottom: 15px;
}

section {
	border-bottom: 1px solid; 
}

header {
	padding-left: 200px;
}

header h1 {
	position: relative;
	top: -40px;
	font-family: 'Monoton', cursive;
}

header img {
	position: relative;
	top: 20px;
}

.navigation a {
	color:grey;
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	padding-left: 40px;
	padding-right: 40px;
}

header img {
	position: relative;
	top: 50px;
	left: 120px;
	height: 300px;
	width: 300px;
}

h1 {
	display: inline-block;
	font-size: 40px;
	font-weight: bold; 
	word-wrap: break;
	width: 150px;
	text-align: center;
	margin-right: 50px;
}

h1 a {
	font-size: 15px;
	text-decoration: none;
	color: grey;
}

div {
	display: inline-block;
	margin: 10px;
}

.top-content {
	border-bottom: none;
	border-top: 1px solid;
	margin-top: 50px;
}

.top-content p {
	display: inline-block;
	width: 480px;
}

.bottom-content p {
	display: inline-block;
	width: 300px;
}

.middle-img {
	width: 1000px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	/* background-image: url("img/mid-page-accent.jpg"); */
}

body {
	margin: 30px;
}

.contact h2 {
	margin: 10px;
}

.contact address p {
	width: 200px;
	margin: 10px;
}

footer {
	text-align: center;
	margin: 10px;
}

/* source: css-tricks.com*/

.navigation a:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }